<mtapp:setting
  id="mttouch_google_adsense_id"
  label="Google AdSense ID"
  hint="If you have signed up for a Google AdSense for Mobile content account, you can enter your account ID number here to display ads on your mobile pages."
  show_hint="1">
	<input type="text" value="<mt:var name="mttouch_google_adsense_id"/>" name="mttouch_google_adsense_id" id="mttouch_google_adsense_id_text"/>
</mtapp:setting>

<mtapp:setting
  id="mttouch_google_adsense_channel"
  label="Google AdSense Channel"
  hint="The ID number of the Google AdSense channel that you will be using for tracking ads on mobile content. This field can be left blank and ads will still display."
  show_hint="1">
	<input type="text" value="<mt:var name="mttouch_google_adsense_channel"/>" name="mttouch_google_adsense_channel" id="mttouch_google_adsense_channel_text"/>
</mtapp:setting>