<$mt:Include module="Header"$>
<body class="classic-wptouch-bg">
	<$mt:Include module="Noscript Message"$>

	<$mt:Include module="Login and Search"$>
	<$mt:Include module="Menu"$>
	<$mt:Include module="Headerbar"$>
	<$mt:Include module="Prowl"$>


	<div class="content">	
		<blockquote>
			<strong><$mt:ErrorMessage$></strong>
		</blockquote>
	</div><!-- #End post -->

	<$mt:Include module="Footer"$>
</body>
</html>